.photo1{
    margin-left: 500px;
    
}



.box1{
    width: 450px;
    height: 450px;
    margin-left: 500px;
    background-color: grey;
    margin-top: -35px;
    

}

.box2{
 text-align: center;
 font-size: 30px;
}

.box3{
    margin-left: 50px
    

}
.box4{
    margin-left: 50px;
    margin-top: -40px;
}